<div [@fadeIn]>
  <div id="articleDetail">
    <div class="detail">
      <div class="wrap">
        <div class="box">
          <div id="cardComponent">
            <div class="card_title">{{card?.title}}</div>
            <div>
              <span class="card_date"> {{ card?.editdate | date:"yy.MM.dd HH:mm:ss" }} </span>
              <span class="card_author">{{card?.author}}</span>
            </div>
            <p class="card_content">
              <img src="../../assets/card1.jpeg" align="right" width="125" hspace="5" vspace="5"> {{card?.content}}
            </p>
            <div class="card_footer">
              <nz-tag style="margin:5px;" [nzColor]="colors[0]">{{card?.tab}}</nz-tag>
              <div>
                <i class="fa fa-heart"></i><span>{{card?.like}}</span>
                <i class="fa fa-comment"></i><span>{{card?.comment}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="btns"></div>
        <div class="btn_con" (click)="show()">
          <i class="fa fa-angle-double-down"></i>
          <span>展开全文</span>
        </div>
      </div>
      <div class="comment_detail">
        <div>
          <div class="comment-user">
            <div class="comment-user-l">
              <nz-avatar style="height:100%;width:32px;" nzSize="large" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
              <span>mosquito</span>
            </div>
            <span>13:14</span>
          </div>
          <div class="comment-con">
            <span style="font-size:14px;">不错，涨知识了。</span>
            <a style="color:#0076fe;">回复</a>
          </div>
          <div class="comment-con-con">
            <span>蚊纸先森</span>
            <span>回复：</span>
            <span>谢谢！</span>
            <a style="color:#0076fe;">回复</a>
          </div>
        </div>
        <div>
          <div class="comment-user">
            <div class="comment-user-l">
              <nz-avatar style="height:100%;width:32px;" nzSize="large" nzIcon="user" nzSrc="../../assets/avator5.jpg"></nz-avatar>
              <span>张艺兴</span>
            </div>
            <span>07:55</span>
          </div>
          <div class="comment-con">
            <div class="long_comment">长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇评论长篇去玩儿阿萨德自行车把你们发过火就巴拉巴拉</div>
            <a style="color:#0076fe;">回复</a>
          </div>
        </div>
      </div>
    </div>
    <div class="recommand">
      <div>
        <div class="card_t">
          <span>热门文章<i class="fa fa-free-code-camp"></i></span>
          <a [routerLink]="['/home','article']" routerLinkActive="active">
          <span style="color: #acacac;">MORE</span>
        </a>
        </div>
        <app-vedio-card [datas]="cards"></app-vedio-card>
      </div>
      <div>
        <div class="card_t">
          <span>热门视频<i class="fa fa-free-code-camp"></i></span>
          <a [routerLink]="['/home','vedio']" routerLinkActive="active">
          <span style="color: #acacac;">MORE</span>
        </a>
        </div>
        <app-vedio-card [datas]="vedios"></app-vedio-card>
      </div>
    </div>
  </div>
  <div class="comment_input">
    <div style="width:70%;">
      <div class="search">
        <i class="fa fa-commenting-o"></i>
        <input class="nav_search" type="text" placeholder="留下您的看法吧" />
      </div>
    </div>
    <div style="width:30%;">
      <img class="like" (click)="like()" style="margin:0 25px;" src="../../assets/喜欢-暗.png" alt="">
      <img class="fabulous" (click)="fabulous()" style="margin-right:10px;" src="../../assets/点赞-暗.png" alt="">
      <span class="fabulous_num">{{card?.comment}}</span>
    </div>

  </div>
</div>