<a routerLink="/messages/letterinform/write" routerLinkActive="active" class="letter-btn">
  <img src="../../assets/写简信.png" alt="">
</a>
<nz-card style="position:relative;">
  <ng-template #body>
      <div class="comment-t">
        <nz-avatar style="width:40px;height:40px;" nzSize="large" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        <span class="comment-t-user">姜敏赫</span>
        <img style="position:absolute;right:20px;top:20px;" src="../../assets/取消.png" alt="">
      </div>
      <div class="comment-c">
        <p>在做项目之前，首先要把React Native 的环境搭建好，这里我就不多做阐述，RN中文网步骤说的挺清楚的，就跟着配置就好。reactnative.cn/docs/0.49/getting-started.html一、总页面的基本架构刚开始做项目的时候，页面跳转用的路由我选择的是Navigator，但是在RN0.44发布的时将之前一直存在的Navigator废弃了。所以真机测试时底部一直会弹出组件过时的警告，这让我很头疼，后来我找到了今年1月刚推出的react-navigation，facebook推荐使用的新导航组件。总的来说,react-navigation有三部分组成1.StackNavigator: 类似与html里a标签功能，用于页面之间的切换2.TabNavigator: 相当于iOS里面的TabBarController，屏幕下方的标签栏3.DrawerNavigator: 抽屉效果，侧边滑出用法都挺简单，官网都有api介绍，主要这里我想讲一下整个app如何嵌套这三个导航组件。有人推荐可以这样嵌套1.StackNavigator2.- TabNavigator3.- DrawerNavigator（官方文档中关于DrawerNavigator最后有这样一句话：Please bear in mind that if you nest the DrawerNavigation, the drawer will show below the parent navigation. 如果按上面那样实现嵌套的话，侧边栏的滑动导航高度不会占全屏，StackNavigator的顶栏会占去一部分高度，drawer是在stack下面的）经过多次尝试后，我总结出来的嵌套方法是：1.DrawerNavigator2.-StackNavigator3.-TabNavigator侧边栏里包裹整个app组件，以及其他侧边栏其他功能组件.整个app组件里包裹着底部导航栏组件，以及在四个导航栏所关联的页面上所能点击跳转到的页面都放进这个StackNavigator里...</p>
        <div  style="cursor:pointer;" class="doc">
          <img src="../../assets/附件拷贝.png" alt="">
          <span style="display:inline-block;margin-left:5px;">附件.doc</span>
        </div>
        <div style="cursor:pointer;" class="doc">
          <img src="../../assets/附件拷贝.png" alt="">
          <span style="display:inline-block;margin-left:5px;">附件.doc</span>
        </div>
      </div>
    <div class="comment-b">
      <img style="cursor:pointer;" src="../../assets/删除.png" alt="">
      <img style="cursor:pointer;" src="../../assets/回复.png" alt="">
    </div>
  </ng-template>
</nz-card>
