<!--[routerLink]="['/home',tab.label]"-->
<a routerLink="/messages/letterinform/check/1" routerLinkActive="active">
  <nz-card style="position:relative;">
    <ng-template #body>
      <div class="comment-t">
        <nz-avatar style="width:40px;height:40px;" nzSize="large" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        <span class="comment-t-user">郑容和</span>
        <span>给您发了</span>
        <span style="color:#74c397;">简信</span>
      </div>
      <img style="position:absolute;right:20px;top:20px;" src="../../assets/取消.png" alt="">
      <div class="comment-c">在做项目之前，首先要把React Native 的环境搭建好，这里我就不多做阐述，RN...</div>
      <div class="comment-b">
        <img src="../../assets/图片上传.png" alt="">
        <img src="../../assets/附件拷贝.png" alt="">
        <span>20:13</span>
      </div>
    </ng-template>
  </nz-card>
</a>