<div class="creat_wrap">
	<div class="myInform">
		<nz-avatar nzSize="large" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
		<div class="business_word">
			<p>XXX企业</p>
			<p>企业代码：12138</p>
		</div>
	</div>
	<div class="myWrap">
		<label>隶属行业：</label>
		<input type="text">
	</div>
	<div class="myWrap">
		<label>地区：</label>
		<input type="text">
	</div>
	<div class="myWrap">
		<label>企业规模：</label>
		<input type="text">
	</div>
	<div class="myWrap" style="padding-right:15px;align-items: flex-start;">
		<label>简介：</label>
		<textarea rows="5"></textarea>
	</div>
	<div class="creatBtn">
		<img (click)="out()" src="../../../assets/创建企业2.png" alt="">
	</div>
	
</div>